/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Container */
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(175deg, #ff6544, #163677, #962eb1);
    padding: 10px;
}

/* To-Do App */
.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    border-radius: 10px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.todo-app h2 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #002765;
}

.todo-app img {
    width: 30px;
    margin-left: 10px;
}

/* Row */
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e1e2e7;
    padding-left: 20px;
    border-radius: 30px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    color: black;
    border-radius: 30px;
    font-size: 16px;
}

button {
    border: none;
    outline: none;
    background: #ff5945;
    padding: 16px 32px;
    border-radius: 40px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    
}

/* List Items */
ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background: url(images/checked.png);
    background-size: cover;
}

/* Due Date */
ul li .date-span {
    font-size: 14px;
    color: #888;
    margin-left: 10px;
    margin-right: 60px;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%); /* Center the due date vertically */
    white-space: nowrap; /* Ensure the date stays on one line */
}

/* Delete Button */
ul li span {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

ul li span:hover {
    color: #e1e2e7;
}
